@keyframes surgir {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes diminuir {
    from { transform: scale(2) }
    to { transform: scale(1) }
}

#logo {
    opacity: 0;
    animation: surgir 1s 0.4s both, diminuir 1.3s 0.5s both;
    margin-top: 5%;
}

body {
    background-image: url("../imagens/fundoescamas.png");
}

.divprincipal {
    background-color: #c4c8f2;
    margin-top: 2%;
    margin-left: 24%;
    margin-right: 24%;
    border-style: solid;
    border-color: #424675;
    margin-bottom: 2%;
}
#menu {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #424675;
    height: 70px;
}

.opmenu {
    color: rgb(224, 226, 240);
    font-family: Trebuchet MS;
    text-decoration: none;
    font-size: 25px;
    margin-right: 5%;
    margin-left: 5%;
    animation: surgir 2s, 0.8s both;
    transition: transform 0.1s;
}

#opmenuatual {
    color: rgb(165, 176, 255);
}

.opmenu:hover {
    transform: scale(1.1);
    color: rgb(165, 176, 255);
}

.divformulario {
    margin-left: 37%;
    margin-right: 37%;
    margin-block: 6%;
    border-style: solid;
    border-color: #9397bf;
    animation: surgir 1s 0.8s both;
}
.divformulariocamisetas {
    margin-left: 32%;
    margin-right: 32%;
    margin-block: 5%;
    border-style: solid;
    border-color: #9397bf;
    animation: surgir 1s 0.8s both;
}

.imgcamisetas {
    transition: transform 0.1s;
}

.imgcamisetas:hover {
    transform: scale(1.1);
}

#empresa {
    font-size: 50px;
    color: #141952;
    font-family: Trebuchet MS;
}
h1 {
    font-size: 50px;
}

h1,
h2,
h3 {
    color: #141952;
    font-family: Trebuchet MS;
    opacity: 0;
    animation: surgir 1s 0.2s both;
}



form {
    font-family: Trebuchet MS;
}

input,
select,
button {
    border-color: #141952;
    border-radius: 5px;
    margin-block: 5px;

}

.sexo {
    display: inline;
}

input,
select {
    width: 200px;
}

button {
    margin-block: 30px;
    background-color: #888fdf;
}

label {
    margin-bottom: 5px;
    display: block;
}
.buttoncamisetas {
    display:inline-block;
}
.inputcamisetas {
    width:fit-content;
    color: #141952;
}
.preco {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: #666fd9;
    text-decoration: underline;
}
p{
    font-family:Georgia;
    margin-left: 10%;
    margin-right: 10%;
    text-indent: 30px;
    text-align: justify;
    animation: surgir 4s 0.2s both;
}
audio{
    margin-top: 5%;
}
#divmsgfinal{
    display:inline-flex;
    margin-bottom: 3%;
}
#msgvideo{
    margin-left: 10%;
    margin-right: 10%;
}
.icones{
    height: 3%;
    width: 3%;
    margin-bottom: -2%;
}
.icones:hover {
    transform: scale(1.2);
}

